<footer class="page-footer text-center font-small mt-4 wow fadeIn">

  <hr class="my-4">

  <!-- Social icons -->
  <div class="pb-4">
    <a href="https://www.facebook.com/" target="_blank">
      <i class="fab fa-facebook-f mr-3"></i>
    </a>

    <a href="https://twitter.com/" target="_blank">
      <i class="fab fa-twitter mr-3"></i>
    </a>

    <a href="https://www.youtube.com/" target="_blank">
      <i class="fab fa-youtube mr-3"></i>
    </a>

    <a href="https://plus.google.com/" target="_blank">
      <i class="fab fa-google-plus-g mr-3"></i>
    </a>

    <a href="https://dribbble.com/" target="_blank">
      <i class="fab fa-dribbble mr-3"></i>
    </a>

    <a href="https://pinterest.com/" target="_blank">
      <i class="fab fa-pinterest mr-3"></i>
    </a>

    <a href="https://github.com/" target="_blank">
      <i class="fab fa-github mr-3"></i>
    </a>

    <a href="http://codepen.io/" target="_blank">
      <i class="fab fa-codepen mr-3"></i>
    </a>
  </div>
  <!-- Social icons -->
  <div class="row wow fadeIn">

    {% for item in object_list %}
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card-body text-center">
        <h4>About Us </h4>
        <p>
          Exponential-x is a Professional Software Development Organisation Dedicated To Assisting
          Small To Medium Sized Businesses Establish An Online Presence.
        </p>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card-body text-center">
        <h4>Contact </h4>
        <p>
          Phone:&nbsp;+91 91462 67660,<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; +91 87963 39028 <br>
          <i class="fab fa-mail mr-3"></i>
          Email: <a href="https://mail.google.com/mail/u/1/#inbox?compose=new"> contact@exponential-x.com </a>
          <a> </a>
        </p>
      </div>
    </div>
    {% endfor %}
  </div>



  <!--Copyright-->
  <div class="footer-copyright py-3">
    © 2019 Copyright:
    <a href="https://exponential-x.com/" target="_blank"> exponential-x.com </a>
  </div>
  <!--/.Copyright-->

</footer>